<html>
	<div th:replace="~{components/head :: head(title='PIS Studio - ' + #{navigation.users} + ': ' + ${user.id})}"></div>
	<body>
	
		<div th:replace="~{components/menu :: menu}"></div>
		
		<div th:replace="~{studio/components/navigation :: navigation}"></div>
		<div class="navigation-content">
		
			<div class="container-xl">
				<form class="pis-form" action="#" th:action="@{/studio/users/edit?id={id}(id = ${user.id})}" th:object="${user}" method="post">
				
					<h3 class="mg-t-0">General</h3>
					<div class="pis-form-grid-2">
						<div class="input">
					        <input type="text" th:field="*{id}" required>
					        <span class="input-name">ID</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{name}" required>
					        <span class="input-name">Name</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="email" th:field="*{email}">
					        <span class="input-name">Email</span>
					        <span class="input-error"></span>
					    </div>
					    <div></div>
					    <div class="input dropdown">
					        <input type="text" th:field="*{enabled}" readonly required>
					        <span class="input-name">Enabled</span>
					        <img class="icon input-icon" src="/resources/swd/icons/more_down.svg" onclick="swd.focusDropdown(this)">
					        <div class="dropdown-content">
								<a>True</a>
								<a>False</a>
						    </div>
					        <span class="input-error"></span>
					    </div>
					    <div class="input dropdown">
					        <input type="text" th:field="*{passwordChangeRequired}" readonly required>
					        <span class="input-name">Force user to change passwort on next login</span>
					        <img class="icon input-icon" src="/resources/swd/icons/more_down.svg" onclick="swd.focusDropdown(this)">
					        <div class="dropdown-content">
								<a>True</a>
								<a>False</a>
						    </div>
					        <span class="input-error"></span>
					    </div>
					</div>
					
					<div th:replace="~{studio/components/edit-actions :: actions(${user.id}, ${user.name})}"></div>
				
				</form>
			</div>
			
		</div>
		
	</body>
</html>