<!DOCTYPE html>
<html>
	<div th:replace="~{general/head :: head(title='PIS Studio - ' + #{navigation.stations})}"></div>
	<body>
	
		<div th:replace="~{general/menu :: menu}"></div>
		
		<div th:replace="~{studio/navigation :: navigation}"></div>
		<div class="navigation-content">
		
			<div class="container-xl">
				<form action="#" th:action="@{/studio/stations/edit}" th:object="${station}" method="post">
				
					<h2 class="mg-t-0">General</h2>
					<div class="pis-form-2">
						<div class="input">
					        <input type="text" th:field="*{id}" required>
					        <span class="input-name">ID</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{name}" required>
					        <span class="input-name">Name</span>
					        <span class="input-error"></span>
					    </div>
					</div>
					
					<h2>Platforms</h2>
					
					<h2>Address</h2>
					<div class="pis-form-2">
						<div class="input">
					        <input type="text" th:field="*{address.name}">
					        <span class="input-name">Name</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{address.street}">
					        <span class="input-name">Street</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="number" th:field="*{address.postalCode}">
					        <span class="input-name">Postal Code</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{address.city}">
					        <span class="input-name">City</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{address.country}">
					        <span class="input-name">Country</span>
					        <span class="input-error"></span>
					    </div>
					</div>
					
					<h2>Geolacation</h2>
					<div class="pis-form-2">
						<div class="input">
					        <input type="text" th:field="*{location.latitude}">
					        <span class="input-name">Latitude</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{location.longitude}">
					        <span class="input-name">Longitude</span>
					        <span class="input-error"></span>
					    </div>
					</div>
					
					<h2>Services</h2>
					<div class="pis-form-2">
						<div class="input">
					        <input type="text" th:field="*{services.parking}">
					        <span class="input-name">Parking</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{services.bicycleParking}">
					        <span class="input-name">Bicycle Parking</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{services.localPublicTransport}">
					        <span class="input-name">Local Public Transport</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{services.publicFacilities}">
					        <span class="input-name">Public Facilities</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{services.taxiRank}">
					        <span class="input-name">Taxi Rank</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{services.carRental}">
					        <span class="input-name">Car Rental</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					    	<input type="text" th:field="*{services.lockerSystem}">
					        <span class="input-name">Locker System</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					    	<input type="text" th:field="*{services.travelNecessities}">
					        <span class="input-name">Travel Necessities</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					    	<input type="text" th:field="*{services.lockerSystem}">
					        <span class="input-name">Barrier Free</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					    	<input type="text" th:field="*{services.wifi}">
					        <span class="input-name">Wifi</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					    	<input type="text" th:field="*{services.travelCenter}">
					        <span class="input-name">Travel Center</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					    	<input type="text" th:field="*{services.railwayMission}">
					        <span class="input-name">Railway Mission</span>
					        <span class="input-error"></span>
					    </div>
					</div>
				
				</form>
			</div>
			
		</div>
		
	</body>
</html>