<!DOCTYPE html>
<html>
	<div th:replace="~{components/head :: head(title='PIS Studio - ' + #{navigation.stations})}"></div>
	<body>
	
		<div th:replace="~{components/menu :: menu}"></div>
		
		<div th:replace="~{studio/components/navigation :: navigation}"></div>
		<div class="navigation-content">
		
			<div class="container-xl">
				<form class="pis-form" action="#" th:action="@{/studio/types/edit}" th:object="${type}" method="post">
				
					<h3 class="mg-t-0">components</h3>
					<div class="pis-form-grid-2">
						<div class="input">
					        <input type="text" th:field="*{id}" required>
					        <span class="input-name">ID</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{name}" required>
					        <span class="input-name">Name</span>
					        <span class="input-error"></span>
					    </div>
					</div>
					
					<h3 class="mg-t-0">Transportation</h3>
					<div class="pis-form-grid-2">
						<div class="input dropdown">
					        <input type="text" th:field="*{vehicle}" readonly required>
					        <span class="input-name">Vehicle</span>
					        <img class="icon input-icon" src="/resources/swd/icons/more_down.svg" onclick="swd.focusDropdown(this)">
					        <div class="dropdown-content">
						        <th:block th:each="vehicle : ${transportationVehicles}">
					        		<a th:text="${vehicle}"></a>
					        	</th:block>
						    </div>
					        <span class="input-error"></span>
					    </div>
					    <div class="input  dropdown">
					        <input type="text" th:field="*{classification}" readonly required>
					        <span class="input-name">Classification</span>
					        <img class="icon input-icon" src="/resources/swd/icons/more_down.svg" onclick="swd.focusDropdown(this)">
					        <div class="dropdown-content">
					        	<th:block th:each="classification : ${transportationClassifications}">
					        		<a th:text="${classification}"></a>
					        	</th:block>
						    </div>
					        <span class="input-error"></span>
					    </div>
					</div>
					
					<h3 class="mg-t-0">Color</h3>
					<div class="pis-form-grid-2">
						<div class="input">
					        <input type="text" th:field="*{backgroundColor}">
					        <span class="input-name">Background Color</span>
					        <span class="input-error"></span>
					    </div>
					    <div class="input">
					        <input type="text" th:field="*{textColor}">
					        <span class="input-name">Text Color</span>
					        <span class="input-error"></span>
					    </div>
					</div>
					
					<div th:replace="~{studio/components/edit-actions :: actions('stations', ${type.id}, ${type.name})}"></div>
				
				</form>
			</div>
			
		</div>
		
	</body>
</html>