<!DOCTYPE html>
<html>
	<div th:replace="~{components/head :: head(title='Passenger Information System')}"></div>
	<body>
	
		<div th:replace="~{components/menu :: menu}"></div>
		<form class="container pis-auth-form" action="#" th:action="@{/password/change?user={user}(user = ${user})}" th:object="${password}" method="post">
			
			<h2 class="mg-t-0" th:text="#{authentification.password.change}"></h2>
			
			<input class="hide" type="text" th:value="${user}" readonly>
				
			<div class="input">
				<input type="password" th:field="*{oldPassword}" required>
				<span class="input-name" th:text="#{authentification.password.old}"></span>
				<span class="input-error"></span>
			</div>
				
			<div class="input">
				<input type="password" th:field="*{newPassword}" id="password1" required>
				<span class="input-name" th:text="#{authentification.password.new}"></span>
				<span class="input-error"></span>
			</div>
			
			<div class="input">
				<input type="password" id="password2" required>
				<span class="input-name" th:text="#{authentification.password.repeat}"></span>
				<span class="input-error"></span>
			</div>
				
			<input type="submit" th:value="#{action.save}">
				
		</form>
		<span id="label-error-different-passwords" class="hide" th:text="#{authentification.password.match}"></span>
		<script>pis.initializePasswordFields(document.getElementById('password1'), document.getElementById('password2'))</script>
		<div th:replace="~{components/footer :: footer}"></div>
		
	</body>
</html>