<!DOCTYPE html>
<html>
	<div th:replace="~{components/head :: head(title='Passenger Information System')}"></div>
	<body>
	
		<div th:replace="~{components/menu :: menu}"></div>
		<div class="container pis-authentication">
			
			<form action="#" th:action="@{/password/change?user={user}(user = ${user})}" th:object="${password}" method="post">
			
				<h2 class="mg-t-0" th:text="#{authentication.password.change}"></h2>
				
				<input class="hide" type="text" th:value="${user}" readonly>
					
				<div class="input">
					<input type="password" th:field="*{oldPassword}" required>
					<span class="input-name" th:text="#{authentication.password.old}"></span>
					<span class="input-error"></span>
				</div>
					
				<div class="input">
					<input type="password" th:field="*{newPassword}" id="password" required>
					<span class="input-name" th:text="#{authentication.password.new}"></span>
					<span class="input-error"></span>
				</div>
				
				<div class="input">
					<input type="password" id="password2" required>
					<span class="input-name" th:text="#{authentication.password.repeat}"></span>
					<span class="input-error"></span>
				</div>
					
				<input type="submit" th:value="#{action.save}">
					
			</form>
			
			<div class="box red" th:if="${param.error}" th:text="#{authentication.password.wrong.old}"></div>
			
		</div>
		<span id="label-error-different-passwords" class="hide" th:text="#{authentication.password.match}"></span>
		<script>pis.initializePasswordFields(document.getElementById('password'), document.getElementById('password2'))</script>
		<div th:replace="~{components/footer :: footer}"></div>
		
	</body>
</html>