<th:block th:fragment="actions">
	<div class="flex">
		<input placeholder="Search" th:value="${param.query}" onkeydown="if (event.keyCode == 13) event.target.value ? swd.setParameter('query', event.target.value) : swd.removeParameter('query')">
		<div class="width-100"></div>
		<a class="button grey dark-grey-hover">
			<img class="icon only-lightmode" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/arrow_down_black.svg">
			<img class="icon only-darkmode" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/arrow_down_white.svg">
			&nbsp;Import
		</a>
		<a class="button grey dark-grey-hover">
			<img class="icon only-lightmode" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/arrow_up_black.svg">
			<img class="icon only-darkmode" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/arrow_up_white.svg">
			&nbsp;Export
		</a>
		<a class="button">
			<img class="icon" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/add_white.svg">
			&nbsp;New
		</a>
	</div>
</th:block>