<th:block th:fragment="actions">
	<div class="flex pis-action-bar">
		<div class="input">
			<input id="search" class="input-small input-icon" th:placeholder="#{action.search}" th:value="${param.query}" onkeydown="if (event.keyCode == 13) pis.search()">
			<img class="icon input-icon only-lightmode" th:if="${param.query == null}" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/search_black.svg" onclick="pis.search()">
			<img class="icon input-icon only-darkmode" th:if="${param.query == null}" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/search_white.svg" onclick="pis.search()">
			<img class="icon input-icon only-lightmode" th:if="${param.query != null}" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/close_black.svg" onclick="swd.removeParameter('query')">
			<img class="icon input-icon only-darkmode" th:if="${param.query != null}" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/close_white.svg" onclick="swd.removeParameter('query')">
		</div>
		<div class="width-100"></div>
		<a class="button grey dark-grey-hover">
			<img class="icon only-lightmode" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/arrow_up_black.svg">
			<img class="icon only-darkmode" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/arrow_up_white.svg">
			&nbsp;<span th:text="#{action.import}"></span>
		</a>
		<a class="button grey dark-grey-hover" href="./export" download>
			<img class="icon only-lightmode" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/arrow_down_black.svg">
			<img class="icon only-darkmode" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/arrow_down_white.svg">
			&nbsp;<span th:text="#{action.export}"></span>
		</a>
		<a class="button">
			<img class="icon" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/add_white.svg">
			&nbsp;<span th:text="#{action.new}"></span>
		</a>
	</div>
</th:block>