<!DOCTYPE html>
<html>
	<div th:replace="~{components/head :: head(title='PIS Studio - ' + #{navigation.operators})}"></div>
	<body>
	
		<div th:replace="~{components/menu :: menu}"></div>
		
		<div th:replace="~{studio/components/navigation :: navigation}"></div>
		<div class="navigation-content">
		
			<div class="container-xl">
			
				<h2 th:text="#{navigation.operators}"></h2>
				<div th:replace="~{studio/components/table-actions :: actions('operators')}"></div>
				
				<div class="pis-table">
					<div class="pis-table-row pis-table-headline">
						<div th:text="#{entity.id}"></div>
						<div th:text="#{entity.name}"></div>
						<div></div>
					</div>
					<div class="pis-table-row" th:each="operator : ${page.results}">
						<div class="pis-table-mobile-wrapper">
							<div><label class="blue-transparent" th:text="${operator.id}"></label></div>
							<div th:insert="~{components/label :: label(${operator})}"></div>
						</div>
						<div class="pis-table-mobile-wrapper pis-table-mobile-actions">
							<div><a class="button" th:text="#{action.edit}" th:href="@{/studio/operators/edit?id={id}(id = ${operator.id})}"></a></div>
						</div>
					</div>
					<div class="pis-table-row pis-table-empty" th:if="${page.results.isEmpty()}">
						<div th:unless="${param.search}" th:text="#{entity.empty}"></div>
						<div th:if="${param.search}" th:text="#{entity.emptyQuery}"></div>
					</div>
				</div>
				
				<div th:replace="~{components/pager :: pager}"></div>
				
			</div>
		
		</div>
		
		<div th:replace="~{components/footer :: footer}"></div>
		
	</body>
</html>