<!DOCTYPE html>
<html>
	<div th:replace="~{general/head :: head(title='PIS Studio - ' + #{navigation.stations})}"></div>
	<body>
	
		<div th:replace="~{general/menu :: menu}"></div>
		
		<div th:replace="~{studio/navigation :: navigation}"></div>
		<div class="navigation-content">
		
			<div class="container-xl">
			
				<h2 th:text="#{navigation.stations}"></h2>
				<div th:replace="~{studio/actions :: actions('stations', true)}"></div>
				
				<div class="pis-table">
					<div class="pis-table-row pis-table-headline">
						<div>Id</div>
						<div>Name</div>
						<div></div>
					</div>
					<div class="pis-table-row" th:each="station : ${page.results}">
						<div class="pis-table-mobile-wrapper">
							<div><label class="blue-transparent" th:text="${station.id}"></label></div>
							<div><span th:text="${station.name}"></span></div>
						</div>
						<div class="pis-table-mobile-wrapper pis-table-mobile-actions">
							<div><a class="button" th:text="#{action.edit}" th:href="@{/studio/stations/edit?id={id}(id = ${station.id})}"></a></div>
						</div>
					</div>
				</div>
				
				<div th:replace="~{general/pager :: pager}"></div>
				
			</div>
		
		</div>
		
		<div th:replace="~{general/footer :: footer}"></div>
		
	</body>
</html>