<!DOCTYPE html>
<html>
	<div th:replace="~{general/head :: head(title='PIS Studio - ' + #{navigation.stations})}"></div>
	<body>
	
		<div th:replace="~{general/menu :: menu}"></div>
		
		<div th:replace="~{studio/navigation :: navigation}"></div>
		<div class="navigation-content">
		
			<div class="container-xl">
		
				<h2 th:text="#{navigation.stations}"></h2>
				<p th:text="${stations.page}"></p>
				<p th:text="${stations.pageSize}"></p>
				<p th:text="${stations.pageAmount}"></p>
				
				<table>
					<tr>
						<th></th>
						<th>Id</th>
						<th>Name</th>
					</tr>
					<tr th:each="station, status : ${stations.results}">
						<td th:text="${status.index}"></td>
					    <td th:text="${station.id}"></td>
					    <td th:text="${station.name}"></td>
					</tr>
				</table>
				
				<div th:replace="~{general/pager :: pager(page=${stations.page}, pageAmount=${stations.pageAmount})}"></div>
				
			</div>
		
		</div>
		
		<div th:replace="~{general/footer :: footer}"></div>
		
	</body>
</html>