<!DOCTYPE html>
<html>
	<div th:replace="~{general/head :: head(title='PIS Studio - ' + #{navigation.types})}"></div>
	<body>
	
		<div th:replace="~{general/menu :: menu}"></div>
		
		<div th:replace="~{studio/navigation :: navigation}"></div>
		<div class="navigation-content">
		
			<div class="container-xl">
			
				<h2 th:text="#{navigation.types}"></h2>
				<div th:replace="~{studio/actions :: actions('types')}"></div>
				
				<div class="pis-table">
					<div class="pis-table-row pis-table-headline">
						<div th:text="#{entity.id}"></div>
						<div th:text="#{entity.name}"></div>
						<div></div>
					</div>
					<div class="pis-table-row" th:each="type : ${page.results}">
						<div class="pis-table-mobile-wrapper">
							<div><label class="blue-transparent" th:text="${type.id}"></label></div>
							<div><span th:text="${type.name}"></span></div>
						</div>
						<div class="pis-table-mobile-wrapper pis-table-mobile-actions">
							<div><a class="button" th:text="#{action.edit}" th:href="@{/studio/types/edit?id={id}(id = ${type.id})}"></a></div>
						</div>
					</div>
					<div class="pis-table-row pis-table-empty" th:if="${page.results.isEmpty()}">
						<div th:if="${param.search == null}" th:text="#{entity.empty}"></div>
						<div th:if="${param.search != null}" th:text="#{entity.emptyquery}"></div>
					</div>
				</div>
				
				<div th:replace="~{general/pager :: pager}"></div>
				
			</div>
		
		</div>
		
		<div th:replace="~{general/footer :: footer}"></div>
		
	</body>
</html>