<!DOCTYPE html>
<html>
	<div th:replace="~{components/head :: head(title='PIS Studio - ' + #{navigation.users})}"></div>
	<body>
	
		<div th:replace="~{components/menu :: menu}"></div>
		
		<div th:replace="~{studio/components/navigation :: navigation}"></div>
		<div class="navigation-content">
		
			<div class="container-xl">
			
				<h2 th:text="#{navigation.users}"></h2>
				<div th:replace="~{studio/components/table-actions :: actions('users')}"></div>
				
				<div class="pis-table" style="grid-template-columns: minmax(min-content, 150px) minmax(min-content, 150px) auto fit-content(0);">
					<div class="pis-table-row pis-table-headline">
						<div th:text="#{entity.user.username}"></div>
						<div th:text="#{entity.user.displayName}"></div>
						<div th:text="#{entity.role}"></div>
						<div></div>
					</div>
					<div class="pis-table-row" th:each="user : ${page.results}">
						<div class="pis-table-mobile-wrapper">
							<div><label class="blue-transparent" th:text="${user.id}"></label></div>
							<div><span th:text="${user.name}"></span></div>
							<div><span class="grey-text" th:text="#{__${user.role.getLocalization()}__}"></span></div>
						</div>
						<div class="pis-table-mobile-wrapper pis-table-mobile-actions">
							<div><a class="button" th:text="#{action.edit}" th:href="@{/studio/users/edit?id={id}(id = ${user.id})}"></a></div>
						</div>
					</div>
					<div class="pis-table-row pis-table-empty" th:if="${page.results.isEmpty()}">
						<div th:unless="${param.search}" th:text="#{entity.empty}"></div>
						<div th:if="${param.search}" th:text="#{entity.emptyQuery}"></div>
					</div>
				</div>
				
				<div th:replace="~{components/pager :: pager}"></div>
				
			</div>
		
		</div>
		
		<div th:replace="~{components/footer :: footer}"></div>
		
	</body>
</html>