<th:block th:fragment="pager">
	<div class="flex flex-no-gap">
		<div class="width-100"></div>
		<a class="button button-left" th:attr="onclick='if (' + ${page.page} + ' > 1) swd.setParameter(\'page\', ' + ${page.page} + ' - 1)'"><img class="icon" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/arrow_left_white.svg"></a><th:block th:each="i: ${#numbers.sequence(1, page.pageAmount)}"><a class="button button-middle" th:classappend="${page.page == i} ? 'button-active' : ''" th:attr="onclick='swd.setParameter(\'page\', ' + ${i} + ')'" th:text="${i}"></a></th:block><a class="button button-right" th:attr="onclick='if (' + ${page.page} + ' < ' + ${page.pageAmount} + ') swd.setParameter(\'page\', ' + ${page.page} + ' + 1)'"><img class="icon" src="https://der-zauberer.github.io/SimpleWebDesign/resources/icons/arrow_right_white.svg"></a>
	</div>
</th:block>