<th:block th:fragment="actions(entity, id, name)">

	<div class="pis-form-buttons">
		<a class="button red dark-red-hover" th:text="#{action.delete}" th:if="${id}" onclick="swd.toggleDialog('delete-dialog')"></a>
		<input type="submit" th:value="#{action.save}">
	</div>
	
	<div class="dialog" id="delete-dialog">
		<div class="dialog-content">
			<h3 th:text="#{action.delete} + ' ' + ${name}"></h3>
			<p th:text=#{action.delete.areYouSure}></p>
			<p><label class="blue-transparent" th:text="${id}"></label>&nbsp;&nbsp;<span th:text="${name}"></span></p>
			<div class="dialog-button">
				<a class="button width-100 grey dark-grey-hover" onclick="swd.toggleDialog('delete-dialog')">Cancel</a>
				<a class="button width-100 red dark-red-hover" onclick="swd.toggleDialog('delete-dialog')">Confirm</a>
			</div>
		</div>
	</div>
						
	<script>pis.initializeLeaveChecker()</script>

</th:block>