<th:block th:fragment="actions(id, name)">

	<div class="pis-form-actions">
		<div><a class="button red dark-red-hover mg-r" th:text="#{action.delete}" th:if="${id}" onclick="swd.toggleDialog('delete-dialog')" href="#"></a></div>
		<input type="submit" th:value="#{action.save}">
	</div>
	
	<div class="dialog" id="delete-dialog" th:if="${id}">
		<div class="dialog-content">
			<h3 th:text="#{action.delete} + ' ' + ${name}" class="text-overflow"></h3>
			<p th:text=#{action.delete.areYouSure}></p>
			<p class="text-overflow"><label class="blue-transparent" th:text="${id}"></label>&nbsp;&nbsp;<span th:text="${name}"></span></p>
			<div class="dialog-button">
				<a class="button width-100 grey dark-grey-hover" th:text="#{action.cancel}" onclick="swd.toggleDialog('delete-dialog');" href="#"></a>
				<a class="button width-100 red dark-red-hover" th:text="#{action.delete}" onclick="swd.toggleDialog('delete-dialog');" th:href="@{delete?id={id}(id = ${id})}"></a>
			</div>
		</div>
	</div>

</th:block>