<th:block th:fragment="navigation">
	<div class="navigation">
		<h2 class="menu-title">PIS Studio</h2>
		<a href="/studio" th:text="#{navigation.dashboard}" th:classappend="${uri == '/studio' ? 'menu-active' : ''}"></a>
		<a href="/studio/stations" th:text="#{navigation.stations}" th:classappend="${uri.startsWith('/studio/stations') ? 'menu-active' : ''}"></a>
		<a href="/studio/lines" th:text="#{navigation.lines}" th:classappend="${uri.startsWith('/studio/lines') ? 'menu-active' : ''}"></a>
		<a href="/studio/routes" th:text="#{navigation.routes}" th:classappend="${uri.startsWith('/studio/routes') ? 'menu-active' : ''}"></a>
		<a href="/studio/types" th:text="#{navigation.types}" th:classappend="${uri.startsWith('/studio/types') ? 'menu-active' : ''}"></a>
		<a href="/studio/operators" th:text="#{navigation.operators}" th:classappend="${uri.startsWith('/studio/operators') ? 'menu-active' : ''}"></a>
		<a href="/studio/users" th:text="#{navigation.users}" th:classappend="${uri.startsWith('/studio/users') ? 'menu-active' : ''}"></a>
	</div>
</th:block>