<!DOCTYPE html>
<html>
	<div th:replace="~{components/head :: head(title='PIS Studio - ' + #{navigation.types} + ': ' + ${type.id})}"></div>
	<body>
	
		<div th:replace="~{components/menu :: menu}"></div>
		
		<div th:replace="~{studio/components/navigation :: navigation}"></div>
		<div class="navigation-content">
		
			<div class="container-xl">
				<div class="pis-form" action="#" th:action="@{/studio/types/edit?entity={id}(id = ${type.id})}" th:object="${type}" method="post">
				
					<h3 class="mg-t-0" th:text=#{entity.general}></h3>
					
					<div class="pis-form-grid-2">
						<div class="input">
					        <input type="text" th:field="*{id}" th:readonly="${type.id != null}" required>
					        <span class="input-name" th:text="#{entity.id}"></span>
					        <span class="input-error"></span>
					    </div>
					    
					    <div class="input">
					        <input type="text" th:field="*{name}" required>
					        <span class="input-name" th:text="#{entity.name}"></span>
					        <span class="input-error"></span>
					    </div>
					</div>
					
					<h3 class="mg-t-0" th:text="#{entity.type.transportation}"></h3>
					
					<div class="pis-form-grid-2">
						<div class="input dropdown">
							<input class="hide" type="text" th:field="*{vehicle}" readonly required>
							<input type="text" th:value="#{__${type.vehicle.getLocalization()}__}" readonly required>
					        <span class="input-name" th:text="#{entity.transportationVehicle}"></span>
					        <img class="icon input-icon" src="/resources/swd/icons/more_down.svg" onclick="swd.focusDropdown(this)">
					        <div class="dropdown-content">
					        	<a th:each="selectableVehicle : ${vehicles}" th:value="${selectableVehicle}" th:text="#{__${selectableVehicle.getLocalization()}__}"></a>
						    </div>
					        <span class="input-error"></span>
					    </div>
					    
					    <div class="input  dropdown">
					    	<input class="hide" type="text" th:field="*{classification}" readonly required>
							<input type="text" th:value="#{__${type.classification.getLocalization()}__}" readonly required>
					        <span class="input-name" th:text="#{entity.transportationClassification}"></span>
					        <img class="icon input-icon" src="/resources/swd/icons/more_down.svg" onclick="swd.focusDropdown(this)">
					        <div class="dropdown-content">
								<a th:each="selectableClassification : ${classifications}" th:value="${selectableClassification}" th:text="#{__${selectableClassification.getLocalization()}__}"></a>
						    </div>
					        <span class="input-error"></span>
					    </div>
					</div>
					
					<div th:replace="~{studio/edit/container/color-container :: color-container}"></div>
					
					<div th:replace="~{studio/components/edit-actions :: actions(${type.id}, ${type.name})}"></div>
				
				</form>
			</div>
			
		</div>
		
		<script>
			pis.initializeLeaveChecker();
		</script>
		
	</body>
</html>