/* table */

.pis-table {
	display: grid;
	grid-template-columns: fit-content(0) auto fit-content(0);
	gap: 3px 0px;
	padding: 3px;
	margin-bottom: var(--theme-element-spacing);
	box-sizing: border-box;
	background-color: var(--theme-grey-primary);
	border-radius: var(--theme-border-radius);
}

.pis-table > div {
	display: contents;
}

.pis-table > div.pis-table-row > div {
	padding: 10px;
	background-color: var(--theme-background);
}

.pis-table > div.pis-table-row > div a{
	margin: 0px;
}

.pis-table > div.pis-table-headline > div {
	font-weight: bold;
	background-color: var(--theme-grey-primary);
}

@media screen and (max-width: 1023px) {
	.pis-table {
		grid-template-columns: auto;
		max-width: 100%;
	}
	
	.pis-table > div {
		display: grid;
		grid-template-columns: auto;
		flex-wrap: wrap;
		background-color: var(--theme-grey-primary);
	}
	
	.pis-table > div.pis-table-row {
		background-color: var(--theme-background);
	}
}

/* form */

.pis-form-2 {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 0 var(--theme-element-spacing);
}

@media (max-width: 768px) {
	.pis-form-2 {
		grid-template-columns: 100%;
	}
}

/* pager */

.pis-pager a:first-of-type {
	border-top-left-radius: var(--theme-border-radius);
	border-bottom-left-radius: var(--theme-border-radius);
}

.pis-pager a:last-of-type {
	border-top-right-radius: var(--theme-border-radius);
	border-bottom-right-radius: var(--theme-border-radius);
}

/* action-bar */

.pis-action-bar a:first-of-type {
	margin-left: auto;
}

@media screen and (min-width: 1024px) {
	.pis-action-bar .input {
		max-width: 300px;
	}
}

@media screen and (max-width: 1023px) {
	.pis-action-bar {
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: flex-end;
	}
	.pis-action-bar .input {
		width: 100%
	}
}