/* table */

.pis-table {
	display: grid;
	grid-template-columns: fit-content(0) auto fit-content(0);
	gap: 3px 0px;
	padding: 3px;
	font-size: 16px;
	margin-bottom: var(--theme-element-spacing);
	box-sizing: border-box;
	background-color: var(--theme-grey-primary);
	border-radius: var(--theme-border-radius);
}

.pis-table .button {
	font-size: 16px;
  	line-height: 30px;
}

.pis-table .pis-table-row, .pis-table .pis-table-row .pis-table-mobile-wrapper {
	display: contents;
}

.pis-table .pis-table-row > div:not(.pis-table-mobile-wrapper), .pis-table .pis-table-row .pis-table-mobile-wrapper > div {
	padding: 10px;
	background-color: var(--theme-background);
}

.pis-table .pis-table-row > div:not(.pis-table-mobile-wrapper) a, .pis-table .pis-table-row .pis-table-mobile-wrapper > div a {
	margin: 0px;
}

.pis-table .pis-table-headline > div {
	font-weight: bold;
	background-color: var(--theme-grey-primary) !important;
}

.pis-table .pis-table-empty {
	display: block;
	grid-column: span 3;
}

.pis-table .pis-table-empty div {
	text-align: center;
}

@media screen and (max-width: 1023px) {
	
	.pis-table {
		grid-template-columns: auto;
		max-width: 100%;
	}
	
	.pis-table .pis-table-row {
		display: grid;
		grid-template-columns: auto;
		flex-wrap: wrap;
		background-color: var(--theme-grey-primary);
		background-color: var(--theme-background);
	}
	
	.pis-table .pis-table-row .pis-table-mobile-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	
	.pis-table .pis-table-mobile-actions {
		margin-left: auto;
	}
	
	.pis-table .pis-table-headline {
		display: none;
	}
	
}

/* form */

.pis-form-grid-2 {
	display: grid;
	grid-template-columns: repeat(2, calc(50% - var(--theme-element-spacing) / 2));
}

@media screen and (max-width: 768px) {
	.pis-form-grid-2 {
		grid-template-columns: 100%;
	}
}

.pis-form-buttons {
	display: grid;
	grid-template-columns: fit-content(0px) auto;
	margin-top: var(--theme-element-spacing);
}

/* pager */

.pis-pager a:first-of-type {
	border-top-left-radius: var(--theme-border-radius);
	border-bottom-left-radius: var(--theme-border-radius);
}

.pis-pager a:last-of-type {
	border-top-right-radius: var(--theme-border-radius);
	border-bottom-right-radius: var(--theme-border-radius);
}

/* action-bar */

.pis-action-bar {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: flex-end;
	column-gap: calc(var(--theme-element-spacing) / 2);;
}

.pis-action-bar a:first-of-type {
	margin-left: auto;
}

.pis-action-bar .input {
	display: block;
	width: 30%;
	max-width: 300px;
}

@media screen and (max-width: 1023px) {
	
	.pis-action-bar .not-mobile {
		display: none;
	}
	
	.pis-action-bar .input {
		width: 40%;
	}
	
}

@media (max-width: 768px) {
	.pis-action-bar .input {
		max-width: inherit;
		width: 100%;
	}
}