<th:block th:fragment="color-container">
	<h3 class="mg-t-0" th:text="#{container.color}"></h3>

	<div class="pis-form-grid-2">
		<div class="input">
			<input type="text" th:field="*{color.textColor}">
			<span class="input-name" th:text="#{container.color.textColor}"></span>
			<span class="input-error"></span>
		</div>

		<div class="input">
			<input type="text" th:field="*{color.backgroundColor}">
			<span class="input-name" th:text="#{container.color.backgroundColor}"></span>
			<span class="input-error"></span>
		</div>
	</div>
</th:block>