<th:block th:fragment="services-container">

	<h3 class="mg-t-0" th:text=#{container.services}></h3>

	<div class="pis-form-grid-2 mg-b" style="row-gap: 10px">
	
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.parking}">
			<span th:text="#{container.services.parking}"></span>
		</div>
		
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.bicycleParking}">
			<span th:text="#{container.services.bicycleParking}"></span>
		</div>
		
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.localPublicTransport}">
			<span th:text="#{container.services.localPublicTransport}"></span>
		</div>
	
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.publicFacilities}">
			<span th:text="#{container.services.publicFacilities}"></span>
		</div>
		
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.taxiRank}">
			<span th:text="#{container.services.taxiRank}"></span>
		</div>
		
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.carRental}">
			<span th:text="#{container.services.carRental}"></span>
		</div>
		
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.lockerSystem}">
			<span th:text="#{container.services.lockerSystem}"></span>
		</div>
		
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.travelNecessities}">
			<span th:text="#{container.services.travelNecessities}"></span>
		</div>
		
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.barrierFree}">
			<span th:text="#{container.services.barrierFree}"></span>
		</div>
		
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.wifi}">
			<span th:text="#{container.services.wifi}"></span>
		</div>
		
		<div class="input mg-b-0">
			<input type="checkbox" th:field="*{services.travelCenter}">
			<span th:text="#{container.services.travelCenter}"></span>
		</div>
		
		<div class="input mg-b">
			<input type="checkbox" th:field="*{services.railwayMission}">
			<span th:text="#{container.services.railwayMission}"></span>
		</div>
		
	</div>
	
</th:block>